/* Import CSS */
@import url("style.css");

/* CSS GALLERY */
.gallery .title_gallery{
    margin-top: 100px;
    animation: Title_animate 1.5s ease 1.6s 1 normal backwards;
}
.gallery .title_gallery h1{
    text-align: center;
    font-size: 40px;
    margin: 40px
}
.title_gallery .paragraph{
    width: 50%;
    color: #fff;
    text-align: justify;
    margin: 0 auto;
}
.title_gallery .paragraph a{
    color: #45d0e4;
}
.month-gallery{
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    animation: Title_animate 1.5s ease 1.6s 1 normal backwards;
}
.month-gallery span{
    color: var(--blue_color);
}
.grid-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    grid-auto-flow: dense;
    padding: 15px;
    margin-top: 30px;
    animation: Card_animate 2s linear 1.6s 1 normal backwards;
}
.grid-container .item {
    background:#8FF;
    display:flex;
}
.grid-container .item a {
    display:flex;
    width:100%;
}
.grid-container .item.portrait {
    grid-row: auto / span 2;
}
.grid-container .item img {
    width:100%;
    height:auto;
    object-fit:cover;
}


/* RESPONSIVE CSS */
@media (max-width:900px){
    body{
		z-index: 100;
		}
	.gallery{
		position: relative;
		z-index: -99;
	}
	.gallery .title_gallery h1{
		font-size: 25px;
	}
    .title_gallery .paragraph{
        font-size: 12px;
    }
    .month-gallery{
        font-size: 20px;
    }
}