/* Import CSS */
@import url("style.css");

/* CSS MAIN-ELEMENTS */
.buttons{
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* animation: Logo_animate 1.5s ease 1.6s 1 normal backwards; */
}
.buttons button{
    margin: 0 5px;
    padding: 10px;
    background-color: var(--blue_color);
    transition: all 0.5s ease-in-out;
}
.buttons button:hover{
    background-color: rgba(251, 54, 244, 0.7);
}
.buttons .active{
    background-color: rgba(251, 54, 244, 0.7);
}
.main .title_main{
    padding-top: 50px;
	/* animation: Title_animate 1.5s ease 2.5s 1 normal backwards; */
}
.main .title_main h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.title_main .paragraph{
    width: 50%;  
    color: #fff;
    text-align: justify;
    margin: 0 auto;
}
.universe, .world,
.races, .role{
    margin-top: 100px;
    width: 100%;
    padding: 0 30px;
}
.universe h2, .world h2,
.races h2, .role h2{
    margin-bottom : 20px;
    text-decoration: underline;
    color: var(--blue_color);
}
.world .container-world{
	display: flex;
	flex-direction: column;
}
.world .container-world .content{
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.world .container-world .content h3{
	text-align: center;
	margin-bottom: 10px;
}
.world .container-world .content img{
	width: 60%;
	margin: 0 auto;
	margin-bottom: 30px;
}
.world .content p{
	text-align: justify;
}
.presentation-class{
	margin-bottom: 50px;
}
.container-race{
	margin-top: 50px;
}
.container-race h3{
	text-decoration: underline;
}
.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
.card{
	position: relative;
	width: 300px;
	height: 500px;
	transform-style: preserve-3d;
	background: white;
	perspective: 1000px;
	transform: perspective(2000px);
	transition: 1s;
	box-shadow: inset 300px 0 50px rgba(0, 0, 0, .15), 0 20px 20px rgba(0, 0, 0, .15);
	margin-bottom: 50px;
}
.card:hover{
	transform: perspective(2000px) translateX(50%);
	box-shadow: inset 20px 0 50px rgba(0, 0, 0, .15), 0 10px 10px rgba(0, 0, 0, .15);
}
.card .cover{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	overflow: hidden;
	transition: 1s ease-in-out;
	transform-origin: left;
}
.card .cover p{
	position: relative;
	top: 230px;
	right: 10px;
	width: 100px;
	font-size: 12px;
}
.card:hover .cover{
	transform: rotateY(-180deg);
}
.card .cover::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 150%;
	background: #fff;
	transform: rotate(36.5deg);
	box-shadow: 0 0 0 20px #47bfce;
	transition: 0.5s;
	transition-delay: 1s;
}
.card:hover .cover::before{
	width: 0;
	box-shadow: 0 0 0 250px #47bfce;
	transform: rotate(143.5deg);
}
.card .cover img{
	width: auto;
	height: 80%;
	z-index: 1;
}
.card .cover .lalafell{
	height: 60%;
}
.card .details{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
	z-index: 1;
}
.card .details h3{
	text-decoration: underline;
}
.card .details p{
	text-align: justify;
	padding: 10px;
	color: black;
	font-size: 0.8em;
}
.card .details h3{
	font-weight: 500;
	margin: 5px 0;
	color: black;
}
.container-faq{
	width: 70%;
	height: auto;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.questions{
	width: 100%;
	height: auto;
	margin: 5px;
}
.visible-pannel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f1f1f1;
	border-radius: 10px;
	position: relative;
	z-index: 100;
}
.visible-pannel h3{
	margin-left: 5px;
	/* padding: 15px 5px; */
	font-size: 25px;
	color: black;
}
.visible-pannel .icon-role{
	display: flex;
	align-items: center;
}
.visible-pannel .icon-role img{
	width: auto;
	height: 30px;
	padding-left: 5px;
}
.visible-pannel .svg{
	margin-right: 10px;
	width: 25px;
	cursor: pointer;
}
.toggle-pannel{
	padding: 0 15px;
	height: 0;
	opacity: 0;
	/* background-color: #bebebe; */
}
.toggle-pannel p{
	line-height: 1.5;
}
.sub-cat{
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.sub-cat img{
	width: auto;
	height: 30px;
}
.sub-cat h4{
	padding-left: 5px;
}
h5{
	margin: 10px 0;
	text-decoration: underline;
	letter-spacing: 1px;
	font-weight: 400;
}
.icon-job{
	margin-bottom: 20px;
}
.icon-job img{
	width: auto;
	height: 30px;
}






@media (max-width:900px){
    body{
		z-index: 100;
		}
	.main{
		position: relative;
		z-index: -99;
	}
	.main .title_main h1{
		font-size: 25px;
	}
    .title_main .paragraph{
        font-size: 12px;
    }
	.universe h2{
		font-size: 20px;
	}
	.container .card{
		margin-top: 50px;
	} 
}

@media (max-width:600px){
	.container-race h3{
		text-align: center;
	}
	.container-race .presentation-class{
		text-align: justify;
		font-size: 0.8rem;
	}
	.presentation-class{
		margin-bottom: 10px;
	}
	.container{
		width: 100%;
		margin: 10px;
		margin-bottom: 30px;
		flex-direction: column;
	}
	.card{
		width: 150px;
		height: 400px;
		margin: 0 auto;
	}
	.card .cover img{
		height: 50%;
	}
	.card .cover .lalafell{
		height: 40%;
	}
	.card .details h3{
		font-size: 0.8rem;
	}
	.card .details p{
		font-size: 0.6rem;
	}
	.toggle-pannel p{
		font-size: 0.8rem;
	}
	.icon-role h3{
		font-size: 0.9rem;
	}
	.visible-pannel .icon-role img{
		height: 18px;
	}
	.visible-pannel .svg{
		width: 15px;
	}
}
