/* Import CSS */
@import url("style.css");

/* CSS MAIN-ELEMENTS */

/* CSS menu boutton */
.buttons{
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    /* animation: Logo_animate 1.5s ease 1.6s 1 normal backwards; */
}
.buttons button{
    margin: 5px;
    width: 30%;
    padding: 5px;
    background-color: var(--blue_color);
    transition: all 0.5s ease-in-out;
    border: 1px solid transparent
}
.buttons button:hover{
    background-color: rgba(251, 54, 244, 0.7);
}
.buttons .active{
    background-color: rgba(251, 54, 244, 0.7);
}
.main .title_main{
    padding-top: 50px;
	/* animation: Title_animate 1.5s ease 2.5s 1 normal backwards; */
}
.main .title_main h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}
.title_main .paragraph{
    width: 50%;  
    color: #fff;
    text-align: justify;
    margin: 0 auto;
}
/* CSS WORLD */
.universe, .world,
.races, .roles, .tribus{
    margin-top: 50px;
    width: 100%;
    padding: 0 30px;
}
.universe h2, .world h2,
.races h2, .roles h2, .tribus h2{
    margin-bottom : 20px;
    text-decoration: underline;
    color: var(--blue_color);
    font-size: 24px;
}
.world .container-world{
	display: flex;
	flex-direction: column;
}
.world .container-world .content-world{
	margin: 30px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.world .container-world .content-world h3{
	margin-bottom: 10px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: underline;
}
.world .container-world .right{
    text-align: right;
}
.world .container-world .content-world .article{
	display: flex;
	align-items: center;
    flex-direction: column;
}
.world .container-world .content-world .article img{
	width: 90%;
	margin: 0 auto;
	margin-bottom: 30px;
	box-shadow: 5px 5px 10px -1px #fff
}
.world .container-world .content-world .article .article-content{
    padding-left: 30px;
}
.world .container-world .content-world .article p{
	text-align: justify;
	font-size: 0.95rem;
	padding: 7px 15px;
}
hr{
	height: 3px;
    width: 90%;
	margin: 40px auto;
	text-align: center;
    background-color: rgb(211,211,211, 0.5);
    border:none;
}
/* CSS RACE */
.races .container-race{
	margin-top: 50px;
}
.races .container-race h3{
    text-align: center;
	text-decoration: underline;
}
.races .container-card{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: 30px auto;
}
.races .container-card .card{
	position: relative;
	width: 300px;
	height: 500px;
	transform-style: preserve-3d;
	background: white;
	perspective: 1000px;
	transform: perspective(2000px);
	transition: 1s;
	box-shadow: inset 300px 0 50px rgba(0, 0, 0, .15), 0 20px 20px rgba(0, 0, 0, .15);
	margin-bottom: 50px;
}
.races .container-card .card:hover{
	transform: perspective(2000px) translateX(50%);
	box-shadow: inset 20px 0 50px rgba(0, 0, 0, .15), 0 10px 10px rgba(0, 0, 0, .15);
}
.races .container-card .card .cover{
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	overflow: hidden;
	transition: 1s ease-in-out;
	transform-origin: left;
}
.races .container-race .container-card .card .cover img{
	width: auto;
	height: 80%;
	z-index: 1;
}
.races .container-race .container-card .card .cover .lalafell{
	height: 60%;
}
.races .container-card .card .cover p{
	position: relative;
	top: 230px;
	right: 10px;
	width: 100px;
	font-size: 12px;
}
.races .container-card .card:hover .cover{
	transform: rotateY(-180deg);
}
.races .container-card .card .cover::before{
	content: "";
	position: absolute;
	width: 10px;
	height: 150%;
	background: #fff;
	transform: rotate(36.5deg);
	box-shadow: 0 0 0 20px #47bfce;
	transition: 0.5s;
	transition-delay: 1s;
}
.races .container-card .card:hover .cover::before{
	width: 0;
	box-shadow: 0 0 0 250px #47bfce;
	transform: rotate(143.5deg);
}
.races .container-card .card .details{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	text-align: center;
	z-index: 1;
}
.races .container-card .card .details h3{
	text-decoration: underline;
    font-weight: 500;
	margin: 5px 0;
	color: black;
}
.races .container-card .card .details p{
	text-align: justify;
	padding: 10px;
	color: black;
	font-size: 0.8em;
}

/* CSS ROLE */
.roles .container-faq{
	width: 90%;
	height: auto;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.roles .container-faq .questions{
	width: 100%;
	height: auto;
	margin: 5px;
}
.roles .container-faq .questions .visible-pannel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f1f1f1;
	border-radius: 10px;
	position: relative;
	z-index: 100;
}
.roles .container-faq .questions .visible-pannel h3{
	margin-left: 5px;
	font-size: 20px;
	color: black;
}
.roles .container-faq .questions .visible-pannel .icon-role{
	display: flex;
	align-items: center;
}
.roles .container-faq .questions .visible-pannel .icon-role img{
	width: auto;
	height: 25px;
	padding-left: 5px;
}
.roles .container-faq .questions .visible-pannel .svg{
	margin-right: 10px;
	width: 20px;
	cursor: pointer;
}
.roles .container-faq .questions .toggle-pannel{
	padding: 0 15px;
	height: 0;
	opacity: 0;
}
.roles .container-faq .questions .toggle-pannel p{
	line-height: 1.5;
    text-align: justify;
    font-size: 0.9rem;
}
.roles .container-faq .questions .toggle-pannel h5{
    margin: 10px 0;
	text-decoration: underline;
	letter-spacing: 1px;
	font-weight: 400;
}
.roles .container-faq .questions .toggle-pannel .icon-job{
	display: flex;
	align-items: center;
	margin: 10px 0;
}
.roles .container-faq .questions .toggle-pannel .icon-job img{
	width: auto;
	height: 30px;
}
.roles .container-faq .questions .toggle-pannel .sub-cat{
	display: flex;
	align-items: center;
}
.roles .container-faq .questions .toggle-pannel .sub-cat h4{
    padding-left: 5px;
}
.roles .container-faq .questions .toggle-pannel .sub-cat  img{
	width: auto;
	height: 30px;
}

/* CSS TRIBU */
.tribus .container-tribu{
	margin-top: 50px;
}
.tribus .container-tribu h3{
    text-align: center;
	text-decoration: underline;
}
.tribus .container-tribu{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: 30px auto;
}


/* CSS RESPONSIVE */
@media (max-width:1100px){
    .container-card{
		width: 100%;
		margin: 10px;
		margin-bottom: 30px;
		flex-direction: column;
	}
}
@media (max-width:900px){
    body{
		z-index: 100;
		}
	.main{
		position: relative;
		z-index: -99;
	}
	.main .title_main h1{
		font-size: 25px;
	}
    .title_main .paragraph{
        font-size: 12px;
    }
    .universe h2, .world h2,
    .races h2, .role h2{
    font-size: 20px;
    }
    .world .container-world .content-world .article .article-content p{
        font-size: 12px;
    }
    .world .container-world .content-world .article .article-content{
        padding-left: 0;
    }
    .races .container-card{
		width: 100%; 
		margin-bottom: 30px;
		flex-direction: column;
	}
}

@media (max-width:700px){
    .buttons{
        width: 90%;
    }
    .buttons button{
        width: 30%;
        font-size: 8px;
    }
	.universe h2, .world h2,
    .races h2, .role h2{
    font-size: 18px;
    }
    .races>p,
    .roles>p{
        font-size: 12px;
        text-align: justify;
    }
    .races .container-race .presentation-race{
		text-align: justify;
		font-size: 0.8rem;
        margin-bottom: 10px;
	}
    .races .container-race .container-card .card{
		width: 170px;
		height: 400px;
		margin: 20px auto;
	}
    .races .container-race .container-card .card .cover img{
		height: 55%;
	}
    .races .container-race .container-card .card .details h3{
		font-size: 0.8rem;
        margin-top: 20px;
	}
    .races .container-race .container-card .card .details p{
        font-size: 0.6rem;
    }
    .races .container-race .container-card .card .cover .lalafell{
        height: 40%;
    }
    .roles .container-faq .questions .toggle-pannel p{
        font-size: 0.8rem;
    }
    .roles .container-faq .questions .visible-pannel h3{
        font-size: 0.7rem;
    }
    .roles .container-faq .questions .visible-pannel .icon-role img{
        height: 16px;
    }
    .roles .container-faq .questions .visible-pannel .svg{
        width: 15px;
    }
    .roles .container-faq .questions .toggle-pannel .sub-cat h4{
        font-size: 0.7rem;
    }
    .roles .container-faq .questions .toggle-pannel .icon-job img{
        width: auto;
        height: 15px;
    }
    .tribus .container-tribu .presentation-race{
		text-align: justify;
		font-size: 0.8rem;
        margin-bottom: 10px;
	}
    .tribus .container-tribu .container-card .card{
		width: 170px;
		height: 400px;
		margin: 20px auto;
	}
    .tribus .container-tribu .container-card .card .cover img{
		height: 55%;
	}
    .tribus .container-tribu .container-card .card .details h3{
		font-size: 0.8rem;
        margin-top: 20px;
	}
    .tribus .container-tribu .container-card .card .details p{
        font-size: 0.6rem;
    }
    .tribus .container-tribu .container-card .card .cover .lalafell{
        height: 40%;
    }
}